<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head (#{validate.page-title})}"></head>

<body class="bg-light d-flex flex-column vh-100">

<div th:replace="~{fragments/navbar.html :: navbar}"></div>

<div class="flex-grow-1 flex-shrink-0 container">
    <form th:action="@{/web/validate}" th:object="${response}" method="post">
        <div class="mb-3">
            <input type="text" class="form-control" id="tspResponse" aria-describedby="tspResponseHelp" th:field="*{base64EncodedResponse}">
            <div id="tspResponseHelp" class="form-text" th:text="#{validate.input-description}">Base64</div>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('base64EncodedResponse')}" th:errors="*{base64EncodedResponse}"></div>
            <div class="alert alert-danger" th:if="${invalidTspResponse}" th:text="#{validate.error.invalid-response}">Invalid</div>
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{validate.submit}">Validate</button>
    </form>
</div>

<footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>
</html>
