<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
    <title th:text="${title}">Title</title>

    <link rel="icon" type="image/svg+xml" th:href="@{/favicon.svg}" sizes="any">
    <link rel="icon" type="image/png" th:href="@{/favicon.png}" sizes="32x32">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/datatables/css/dataTables.bootstrap5.min.css}">

    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/webjars/datatables/js/dataTables.bootstrap5.min.js}"></script>
</head>
</html>
