<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="navbar" class="mb-5">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Time Stamp Authority</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-supported-content"
                    aria-controls="navbar-supported-content"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-supported-content">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/web/history}" th:text="#{navbar.history-page}">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/web/validate}" th:text="#{navbar.validate-page}">Overview</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <a class="bi bi-github fs-2 link-light" href="https://github.com/dnl50/tsa-server" th:title="#{navbar.github-link-title}"></a>
                </div>
            </div>
        </div>
    </nav>
</header>
</html>
