server:
  error:
    whitelabel:
      enabled: false
spring:
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
  flyway:
    locations: "classpath:db/migration/{vendor}"
  datasource:
    driver-class-name: org.h2.Driver
    url: "jdbc:h2:file:./db/data"

