name: Check

on:
  push:
    branches:
     - master
     - develop
  pull_request:
    branches:
      - master
      - develop

jobs:
  check:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Check Formatting
        run: ./gradlew spotlessCheck

      - name: Run Gradle 'check' Task
        run: ./gradlew check
